/* max-width */
@media only screen and (width >= 919px) {
    .textGridContainer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .mainTopHeadlineBottom{
        width: 65%;
        margin-bottom: 20vh;
    }
    .largeGridContainer{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows:repeat(4,1fr);
    }
    .gridTextChange{
        width: 600px;
    }
    .gridItemImage{
        width: 20px;
    }
    .largeGridItemImg{
        width: 400px;
    }
    .largeGridItemText{
        width: 430px;
    }
    .email{
        padding-left: 8rem;
        padding-right: 8rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .footerHeadline{
        margin-bottom: 2vh;
    }
    .mainTopTextFlexContainer{
        display: flex;
        justify-content: center;
        h2{
            width: 45%;
        }
        p{
            width: 55%;
            line-height: 1.6;
            /* padding-right: 5%; */
        }
    }

}

@media only screen and (width <= 919px) {
    .logoText{
        color: white;
    }
    .headlineArticle{
        width: 90%;
    }
    .textGridContainer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        
    }
    .mainTopHeadlineBottom{
        margin-bottom: 200px;
        margin-left: auto;
        margin-right: auto;

    }
    .largeGridContainer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8,1fr);
    }
    .largeGridItemImg{
        width: 200px;
    }
    .firstImage{
        grid-row: 1;
    }
    .firstText {
        grid-row: 2;
    }
    .secondImage{
        grid-row: 3;
    }
    .secondText{
        grid-row: 4;
    }

    .thirdImage{
        order: -1;
    }
    .fourthText{
        grid-row: 8;
    }
    .email{
        padding-left: 4rem;
        padding-right: 4rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .footerHeadline{
        margin-bottom: 2vh;
        padding-top: 15vh;
    }
    .mainTopTextFlexContainer{
        display: block;
        h2{
            margin-bottom: 2vh;
        }
    }
    .animatedImage{
        display: none;
    }
    }
