@import "variables";

/* ========== first main grid section =========== */
@mixin textGridPadding{
    padding-left: 10vw;
    padding-right: 10vw;
}
@mixin textGridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 10vh;
}
@mixin gridItem{
    margin: auto;
}
@mixin gridItemHeadline{
    display: flex;
    margin-bottom: 2vh;
}
@mixin gridItemImage{
    width: 20px;
    margin-right:15px;
}
@mixin gridItemText{
    width: 300px;
    padding-left: 35px;
    margin-bottom: 100px;
}
/* ========== large main grid section =========== */
@mixin largeGridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-left: 5vw;
    padding-right: 7vw;
}
@mixin largeGridItemImgContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}
@mixin largeGridItemImg{
    width: 430px;
}
