@import "variables";
@import "mixins";

/* ============= fonts ============= */
@font-face {
    font-family:"roboto" ;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
.robotoFont{
    font-family: "roboto";
}

/* ============ global ============== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto";
}

.headline{
    font-size: 3rem;
}

/* ============== header ============= */
/* ============== header ============= */
/* ============== header ============= */

header{
    /* background images */
    background: url("../img/ilustracion1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
        .logoSectionFlexContainer{
            display: flex;
            align-items: center;
            padding: 1rem;
            margin-bottom: 8vh;
        }
    .logo{
        width: 40px;
        margin-right: 1.5rem;
    }
    /* animation */
    @keyframes heroAnimation {
        0%   {top:0;}
        50%  {top:5vh;}
        100%  {top:0;}
    }
    .animatedImage{
        position: absolute;
        top: 0;
        right: 0;
        width: 500px;
        animation-name: heroAnimation;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    /* ======= headline article ====== */
    .headlineArticle{
/*         width: 55vw; */
        padding-left: 13%;
            h1{
                margin-bottom: .5rem;
            }
            p:nth-of-type(1){
                margin-bottom: 8vh;
            }
            p:nth-of-type(2){
                color: $pink;
                margin-bottom: 10vh;
            }
    }
}


/* ============== main ============= */
/* ============== main ============= */
/* ============== main ============= */

main{
    .topMainSectionImg{
        width: 100%;
        margin-bottom: 20vh;
    }
    .mainTextSection{
        padding-left: 10vw;
        padding-right: 10vw;
            .mainTopTextFlexContainer{
                display: flex;
                margin-bottom: 20vh;
                    h2{
                        width: 45%;
                    }
                    p{
                        width: 55%;
                        line-height: 1.6;
                        padding-right: 5%;
                    }
            }
            .mainTopHeadlineBottom{
                width: 65%;
                margin-bottom: 20vh;
            }
    }
}





















@import "media-queries";