/* ============ colors ============= */
/* ============ colors ============= */
/* ========== first main grid section =========== */
/* ========== large main grid section =========== */
/* ============= fonts ============= */
@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
.robotoFont {
  font-family: "roboto";
}

/* ============ global ============== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
}

/* .marginLeftAutoGrid{
    margin-left: auto;
} */
.headline {
  font-size: 3rem;
}

/* ============== header ============= */
/* ============== header ============= */
/* ============== header ============= */
header {
  /* background images */
  background: url("../img/ilustracion1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  /* animation */
  /* ======= headline article ====== */
}
header .logoSectionFlexContainer {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 8vh;
}
header .logo {
  width: 40px;
  margin-right: 1.5rem;
  position: fixed;
}
header .logoText {
  padding-left: 3rem;
}
@keyframes heroAnimation {
  0% {
    top: 0;
  }
  50% {
    top: 5vh;
  }
  100% {
    top: 0;
  }
}
header .animatedImage {
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  animation-name: heroAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
header .headlineArticle {
  /*         width: 55vw; */
  padding-left: 13%;
}
header .headlineArticle h1 {
  margin-bottom: 0.5rem;
}
header .headlineArticle p:nth-of-type(1) {
  margin-bottom: 8vh;
}
header .headlineArticle p:nth-of-type(2) {
  color: #ff3571;
  margin-bottom: 10vh;
}

/* ============== main ============= */
/* ============== main ============= */
/* ============== main ============= */
main {
  /* main section img top */
  /* main section text top */
  /* main grid section */
  /* =========== large grid section =========== */
}
main .topMainSectionImg {
  width: 100%;
  margin-bottom: 20vh;
}
main .mainTextSection {
  padding-left: 10vw;
  padding-right: 10vw;
  /*             .mainTopHeadlineBottom{
                  width: 65%;
                  margin-bottom: 20vh; 
              } */
}
main .mainTextSection .mainTopTextFlexContainer {
  /* display: flex; */
  margin-bottom: 20vh;
  /*                     h2{
                          width: 45%;
                      }
                      p{
                          width: 55%;
                          line-height: 1.6;
                          padding-right: 5%;
                      } */
}
main .textGridContainer {
  padding-left: 10vw;
  padding-right: 10vw;
  /* display: grid; */
  /*     grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr; */
  margin-bottom: 10vh;
}
main .textGridContainer .gridItem {
  margin: auto;
}
main .textGridContainer .gridItemHeadline {
  display: flex;
  margin-bottom: 2vh;
}
main .textGridContainer .itemImg {
  width: 20px;
  margin-right: 15px;
}
main .textGridContainer .itemText {
  width: 300px;
  padding-left: 35px;
  margin-bottom: 100px;
}
main .largeGridSection .largeGridSectionHeadline {
  text-align: center;
}
main .largeGridSection .largeGridSectionHeadline h2 {
  margin-bottom: 40px;
}
main .largeGridSection .largeGridSectionHeadline p {
  /*                 width: 600px; */
  margin: auto;
  font-size: 1.125rem;
  margin-bottom: 20vh;
}
main .largeGridSection .largeGridContainer {
  /*     display: grid;
      grid-template-columns:repeat(2,1fr);
      grid-template-rows:repeat(4,1fr); */
  padding-left: 5vw;
  padding-right: 7vw;
}
main .largeGridSection .largeGridContainer .largeGridItemImgContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
}
main .largeGridSection .largeGridContainer .largeGridItemImgContainer .largeGridItemImg {
  /* width: 430px; */
}
main .largeGridSection .largeGridContainer .largeGridItemText {
  /* width: 430px; */
  padding-left: 50px;
}
main .largeGridSection .largeGridContainer .largeGridItemText p:nth-of-type(1) {
  margin-bottom: 9vh;
  color: #dddddd;
  font-size: 2.5rem;
}
main .largeGridSection .largeGridContainer .largeGridItemText p:nth-of-type(2) {
  margin-bottom: 2vh;
}
main .largeGridSection .largeGridContainer .largeGridItemText h3 {
  margin-bottom: 2vh;
}

footer {
  text-align: center;
  /*     .footerHeadline{
          margin-bottom: 2vh;
      } */
  /* input */
}
footer #subscribedConfirmation {
  display: none;
  height: 10rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vh;
  margin-top: 10vh;
  box-shadow: 0px 6px 20px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
footer #subscribedConfirmation h3:nth-of-type(1) {
  margin-bottom: 1vh;
}
footer #subscribedConfirmation h3:nth-of-type(2) {
  margin-bottom: 1vh;
}
footer #subscribedConfirmation p:nth-of-type(1) {
  margin-bottom: 2vh;
}
footer #subscribedConfirmation p:nth-of-type(2) {
  font-size: 0.5rem;
  margin-bottom: 2vh;
}
footer #subscribedConfirmation #closeConfirmation {
  padding: 0.2rem;
  color: #fff;
  background-color: #ff3571;
  border: none;
}
footer #subscribedConfirmation #closeConfirmation:hover {
  background: linear-gradient(29deg, #ff3571 0%, #3C30FF 100%);
}
footer .footerHeadlineText {
  margin-bottom: 2vh;
}
footer form .email {
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 2vh;
  box-shadow: 0px 6px 100px 5px rgba(0, 0, 0, 0.3);
  border: none;
}
footer form .submitButton {
  margin-bottom: 8vh;
  padding-left: 2.7rem;
  padding-right: 2.7rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 5px;
  color: #fff;
  background-color: #ff3571;
  border: none;
}
footer form .submitButton:hover {
  background: linear-gradient(29deg, #ff3571 0%, #3C30FF 100%);
}
footer form label {
  display: none;
}
footer form label .submitButton {
  display: block;
}
footer .footerNote {
  text-align: start;
  padding-left: 5vw;
  padding-bottom: 2vh;
}

/* max-width */
@media only screen and (width >= 919px) {
  .textGridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .mainTopHeadlineBottom {
    width: 65%;
    margin-bottom: 20vh;
  }
  .largeGridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .gridTextChange {
    width: 600px;
  }
  .gridItemImage {
    width: 20px;
  }
  .largeGridItemImg {
    width: 400px;
  }
  .largeGridItemText {
    width: 430px;
  }
  .email {
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .footerHeadline {
    margin-bottom: 2vh;
  }
  .mainTopTextFlexContainer {
    display: flex;
    justify-content: center;
  }
  .mainTopTextFlexContainer h2 {
    width: 45%;
  }
  .mainTopTextFlexContainer p {
    width: 55%;
    line-height: 1.6;
    /* padding-right: 5%; */
  }
  #subscribedConfirmation {
    width: 30%;
  }
}
@media only screen and (width <= 919px) {
  .logoText {
    color: white;
  }
  .headlineArticle {
    width: 90%;
  }
  .textGridContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .mainTopHeadlineBottom {
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .largeGridContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
  .largeGridItemImg {
    width: 200px;
  }
  .firstImage {
    grid-row: 1;
  }
  .firstText {
    grid-row: 2;
  }
  .secondImage {
    grid-row: 3;
  }
  .secondText {
    grid-row: 4;
  }
  .thirdImage {
    order: -1;
  }
  .fourthText {
    grid-row: 8;
  }
  .email {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .footerHeadline {
    margin-bottom: 2vh;
    padding-top: 15vh;
  }
  .mainTopTextFlexContainer {
    display: block;
  }
  .mainTopTextFlexContainer h2 {
    margin-bottom: 2vh;
  }
  .animatedImage {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */